
<div class="row">
  <div class="col-sm-4">

    <div id="mdtest"></div>

    <h1>Available Protocols:</h1>
    <ul>
      <li ng-repeat="protocol in protocols">
        {{ protocol.title }}
        <button ng-click="deleteProtocol(protocol._id)">Delete</button>
      </li>
    </ul>
    <button ng-click="deleteAll()">Delete All</button>

    <form name="form" class="css-form" novalidate>
      <h1>Insert new protocol:</h1>
      <input type="text" ng-model="newProtocol.title" required /> 
      <button class="btn btn-primary" ng-click="addProtocol(newProtocol)" ng-disabled="form.$invalid">Insert</button>
    </form>
    
    <form>
      <input name="title" type="text" placeholder="Title?" />
      <textarea name="content" data-provide="markdown" rows="10" ng-model="markdownText" ng-change="updatePreview()"></textarea>
      <button type="submit" class="btn">Submit</button>
    </form>

  </div>
</div>